<div class="container-fluid">
  <div class="row" style="padding-top:25vh">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-darkgoldenrod" *ngIf="retrivedRoomDetails">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Group Admin : {{retrivedRoomDetails.userName}}</h5>
        </div>
        <div class="modal-body">
          <p>Are you sure Intrested To Join This Group?:{{retrivedRoomDetails.chatRoomTitle | uppercase}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal" [routerLink]="['/chat']">Close</button>
          <button type="button" class="btn btn-dark" (click)="joinChatRoom()">Yeah,Ofcourse</button>
        </div>
      </div>
    </div>
  </div>
</div>
